.banner{
	background-color:lightgray;
	font-size:30px;
	color:red;
	height:600px;
	width:100%;
}
img{
	float:right;
}
.footer{
	background-color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	height:80px;
}
.header{
	background-color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	height:80px;
}